/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1250px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1249.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1250px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.4rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.btn {
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 14px 40px;
  position: relative;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #ffb506;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ffb506;
  text-transform: uppercase;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  border-radius: 27px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  color: #fff;
  background: #ff9300;
  border-color: #ff9300;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:active {
  background: #ffb506;
  border-color: #ffb506;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_border {
  background: #fff;
  color: #f9b104;
}
.btn_border .ico-svg {
  fill: #f9b104;
}
.btn_border:hover {
  color: #fff;
  background: #f9b104;
  border-color: #f9b104;
}
.btn_border:hover .ico-svg {
  fill: #fff;
}

.btn_sm {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 6px 30px;
  text-transform: uppercase;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  border-radius: 17px;
}

.btn_md {
  padding: 7px 30px;
  font-size: 1.3rem;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
}

.btn_xl {
  min-width: 280px;
}
@media (min-width: 992px) {
  .btn_xl {
    min-width: 360px;
  }
}

.btn_xxl {
  width: 100%;
  padding: 14px 15px;
}

.btn_icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.btn_icon b {
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  position: absolute;
  display: inline-block;
  margin: -11px 0 0 -11px;
}
.btn_icon .ico-svg {
  fill: #fff;
}

.btn_pdf {
  padding-left: 70px;
}
.btn_pdf i {
  top: 50%;
  left: 40px;
  width: 26px;
  height: 26px;
  position: absolute;
  display: inline-block;
  margin: -13px 0 0 0;
}

.btn_group {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn_group .btn {
  margin: 10px;
}

.form_control {
  margin: 0;
  width: 100%;
  height: 50px;
  outline: none;
  color: #7f7f7f;
  background: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 14px 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form_control::-moz-placeholder {
  color: #7f7f7f;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #7f7f7f;
}
.form_control::-webkit-input-placeholder {
  color: #7f7f7f;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}
.form_control_total {
  color: #00407d;
  font-size: 1.6rem;
  background: #f4f4f4;
  border-color: #f4f4f4;
}

textarea.form_control {
  height: auto;
}

.form_select {
  -webkit-appearance: none;
  background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
.form_select::-ms-expand {
  display: none;
}

.select_wrap {
  position: relative;
}
.select_wrap .form_select {
  z-index: 10;
  position: relative;
  padding-left: 45px;
  background: transparent url("../img/icon__select.png") 100% 50% no-repeat;
}

.form_icon {
  top: 50%;
  left: 20px;
  z-index: 1;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  position: absolute;
  display: inline-block;
}
.form_icon .ico-svg {
  fill: #f9b104;
}

.form_label {
  display: block;
  color: #353535;
  min-height: 15px;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.form_label strong {
  font-weight: 600;
}
.form_label_icon {
  padding-left: 25px;
  position: relative;
}
.form_label_icon i {
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  position: absolute;
  display: inline-block;
}

.form_group {
  margin-bottom: 25px;
}

.select {
  z-index: 50;
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
}
.select > i {
  top: 50%;
  z-index: 1;
  right: 18px;
  height: 16px;
  font-size: 16px;
  color: #7f7f7f;
  line-height: 16px;
  margin-top: -8px;
  position: absolute;
}
.select .ico-svg {
  fill: #f9b104;
}
.select__active {
  width: 100%;
  height: 50px;
  z-index: 10;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 1px solid #eaeaea;
  padding: 5px 40px 5px 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.select__active i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  display: inline-block;
}
.select__active span {
  color: #7f7f7f;
  font-size: 1.5rem;
  line-height: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select__dropdown {
  left: 0;
  top: 100%;
  margin-top: 3px;
  background: #fff;
  min-width: 100%;
  display: none;
  overflow: hidden;
  position: absolute;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.select__item {
  display: block;
  font-weight: 400;
}
.select__item input {
  display: none;
}
.select__item_label {
  width: 100%;
  height: 44px;
  color: #7f7f7f;
  cursor: pointer;
  padding: 5px 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.select__item_label i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  display: inline-block;
}
.select__item_label span {
  font-size: 1.5rem;
  line-height: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select__item_label:hover {
  background: #eaeaea;
}
.select__item input:checked + .select__item_label {
  color: #f9b104;
}
.select.open > i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select.open .select__dropdown {
  display: block;
}

.form_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  color: #7f7f7f;
  font-size: 1.5rem;
  line-height: 2.1rem;
  position: relative;
  display: inline-block;
  padding: 1px 0 1px 35px;
}
.form_checkbox span:after {
  top: 0;
  left: 0;
  content: "";
  z-index: 10;
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  border: 1px solid #dadada;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form_checkbox span:before {
  top: 0;
  left: 0;
  content: "";
  z-index: 10;
  width: 23px;
  height: 23px;
  display: block;
  position: absolute;
  background: url("../img/icon__check.png") 50% 50% no-repeat;
  opacity: 0;
  visibility: hidden;
}
.form_checkbox input:checked + span:before {
  opacity: 1;
  visibility: visible;
}

.input_group {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.input_group__form {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.input_group__btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.form_inline {
  width: 100%;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.form_inline::-moz-placeholder {
  color: #7f7f7f;
  opacity: 1;
}
.form_inline:-ms-input-placeholder {
  color: #7f7f7f;
}
.form_inline::-webkit-input-placeholder {
  color: #7f7f7f;
}
.form_inline__form {
  margin: 0;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  color: #7f7f7f;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 14px 10px 14px 0;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form_inline__text {
  font-size: 1.6rem;
  line-height: 2rem;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.form_file {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.form_file__text {
  height: 50px;
  font-size: 1.5rem;
  line-height: 2rem;
  border: 1px solid #eaeaea;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.checkbox_group {
  margin: 0 -15px;
}
.checkbox_group > ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}
.checkbox_group > ul > li {
  padding: 6px 0;
}
@media (min-width: 576px) {
  .checkbox_group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .checkbox_group > ul {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .checkbox_group > ul {
    width: 33.33%;
  }
}
@media (min-width: 1250px) {
  .checkbox_group > ul {
    width: 240px;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}
.table th {
  color: #353535;
  text-align: left;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 12px 10px;
  background: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #f3f3f3;
}
.table td {
  color: #7f7f7f;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 12px 10px;
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
}
.table td i {
  margin-right: 6px;
}
.table tr:first-child th:first-child,
.table tr:first-child td:first-child {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.table tr:first-child th:last-child,
.table tr:first-child td:last-child {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.table tr:last-child th:first-child,
.table tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
.table tr:last-child th:last-child,
.table tr:last-child td:last-child {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
.table_blue th {
  color: #fff;
  background: #00478b;
}
.table_first td {
  background: #e5ecf3;
}
.table_second td {
  background: #f2f6f9;
}
.table_third td {
  background: #fcfdfe;
}
@media (min-width: 768px) {
  .table th,
.table td {
    padding: 15px 20px;
  }
  .table_second td:first-child {
    padding-left: 35px;
  }
  .table_third td:first-child {
    padding-left: 50px;
  }
}

.table_responsive {
  max-width: 100%;
  overflow-x: auto;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color_red {
  color: #f24841 !important;
}

.color_green {
  color: #44b759 !important;
}

.color_blue {
  color: #324afb !important;
}

.color_black {
  color: #000000 !important;
}

.color_yellow {
  color: #ffb100 !important;
}

.color_dark_blue {
  color: #00478b !important;
}

.mb_0 {
  margin-bottom: 0 !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_25 {
  margin-bottom: 25px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.pt_20 {
  padding-top: 20px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.5;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 15px;
  font-family: "Open Sans", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h4, .h4 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #f9b104;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000000;
  text-decoration: none;
}

.header {
  color: #fff;
  width: 100%;
  z-index: 1010;
  position: relative;
  background: #00478b;
}
.header__row {
  height: 60px;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__toggle {
  padding: 9px 4px;
  width: 30px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle span {
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative;
  margin-bottom: 4px;
  display: inline-block;
}
.header__toggle span:last-child {
  margin-bottom: 0;
}
.header__toggle:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__toggle:hover span {
  background: #f9b104;
}
.header__content {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__content > li {
  padding: 5px 15px;
  border-left: 1px solid #1a5a97;
}
.header__content > li:first-child {
  border-left: none;
}
.header__auth {
  color: #fff;
  height: 30px;
  font-size: 1.3rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__auth i {
  width: 13px;
  height: 15px;
  margin-right: 6px;
  display: block;
}
.header__auth span {
  display: inline-block;
}
.header__auth .ico-svg {
  fill: #fff;
}
.header__auth:hover {
  color: #f9b104;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__auth:hover .ico-svg {
  fill: #f9b104;
}
@media (min-width: 768px) {
  .header__row {
    height: 70px;
    padding: 15px 0;
  }
  .header__content > li {
    padding: 5px 25px;
  }
}

.notify {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.notify__label {
  height: 30px;
  color: #ffb506;
  min-width: 60px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.07);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.notify__label .ico-svg {
  fill: #fff;
}
.notify__label i {
  z-index: 10;
  width: 16px;
  height: 18px;
  margin-right: 5px;
  display: inline-block;
}
.notify__label span {
  z-index: 20;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2rem;
  display: inline-block;
}
.notify__label:hover {
  color: #f9b104;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.17);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.notify__dropdown {
  right: 0;
  top: 100%;
  width: 230px;
  z-index: 1200;
  display: none;
  background: #00478b;
  margin-top: 10px;
  position: absolute;
}
.notify__dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.notify__dropdown ul li {
  border-bottom: 1px solid #00559c;
}
.notify__dropdown ul li a {
  color: #fff;
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 10px 15px;
  text-decoration: none;
}
.notify__dropdown ul li a strong {
  display: block;
  font-size: 1.5rem;
}
.notify__dropdown ul li a span {
  display: block;
}
.notify_view {
  display: block;
  background: #111;
  padding: 7px 10px;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #f9b104;
  text-decoration: none;
}
.notify_view:hover {
  color: #c0c2c7;
  text-decoration: none;
}
.footer {
  padding: 20px 0;
  background: #202020;
}

.sidebar {
  top: 0;
  left: 0;
  width: 240px;
  z-index: 1010;
  height: 100vh;
  position: fixed;
  margin-left: -240px;
  background: #00478b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__wrap {
  height: calc(100vh - 60px);
}
.sidebar__logo {
  height: 60px;
  display: block;
  position: relative;
  background: #00407d;
}
.sidebar__logo i {
  top: 50%;
  left: 50%;
  width: 166px;
  height: 32px;
  display: block;
  position: absolute;
  margin: -16px 0 0 -83px;
}
@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
  }
  .sidebar__wrap {
    height: calc(100vh - 70px);
  }
  .sidebar__logo {
    height: 70px;
  }
}

.sidenav__heading {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  padding: 12px 20px 12px 55px;
}
.sidenav__heading:before {
  top: 50%;
  left: 18px;
  width: 29px;
  height: 1px;
  content: "";
  position: absolute;
  background: #f9b104;
  display: inline-block;
}
.sidenav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidenav > ul > li > a {
  color: #fff;
  width: 100%;
  height: 44px;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 40px 12px 45px;
}
.sidenav > ul > li > a b {
  top: 50%;
  left: 18px;
  width: 17px;
  height: 17px;
  margin-top: -8px;
  position: absolute;
  display: inline-block;
}
.sidenav > ul > li > a .ico-svg {
  fill: #fff;
}
.sidenav > ul > li > a i {
  top: 50%;
  right: 20px;
  margin-top: -8px;
  position: absolute;
  font-size: 1.6rem;
  line-height: 1.6rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidenav > ul > li > a:hover {
  background: #00407d;
  color: #f9b104;
  text-decoration: none;
}
.sidenav > ul > li > a:hover .ico-svg {
  fill: #f9b104;
}
.sidenav > ul > li.active > a {
  background: #00407d;
  color: #f9b104;
  text-decoration: none;
}
.sidenav > ul > li.active > a .ico-svg {
  fill: #f9b104;
}
.sidenav > ul > li.open > a {
  background: #00407d;
  color: #f9b104;
  text-decoration: none;
}
.sidenav > ul > li.open > a .ico-svg {
  fill: #f9b104;
}
.sidenav > ul > li.open > a i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidenav > ul > li > ul {
  margin: 0;
  padding: 10px 0;
  display: none;
  list-style: none;
}
.sidenav > ul > li > ul li a {
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
  display: inline-block;
  padding: 5px 40px 5px 45px;
}
.sidenav > ul > li > ul li a:hover {
  color: #f9b104;
  text-decoration: none;
  display: inline-block;
}

.page {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  background: #f3f7f8;
}
.page.sidebar_open .sidebar {
  margin-left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.page.sidebar_open .main {
  -webkit-transform: translate(240px, 0);
  -ms-transform: translate(240px, 0);
  -o-transform: translate(240px, 0);
  transform: translate(240px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 992px) {
  .page.sidebar_open .sidebar {
    margin-left: -240px;
  }
  .page.sidebar_open .main {
    margin-left: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.main {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 992px) {
  .main {
    margin-left: 240px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.markets .swiper-slide {
  width: 156px;
}
.markets__item {
  width: 100%;
  color: #000;
  padding: 10px;
  background: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.markets__top {
  width: 100%;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.markets__top i {
  margin-left: 5px;
}
.markets__bottom {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.ref {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding-left: 10px;
  border-left: 2px solid #f9b104;
}
.ref__title {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.ref__title strong {
  display: block;
}
.ref__title span {
  color: #8d949e;
  display: block;
}
.ref__link {
  height: 32px;
  max-width: 445px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background: #e7eaeb;
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ref__link_label {
  padding: 3px 0 1px 0;
  color: #8e8e8e;
  font-size: 1.2rem;
  line-height: 1.6rem;
  white-space: nowrap;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.ref__link_input {
  margin: 0 7px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ref__link_value {
  margin: 0;
  width: 100%;
  color: #000;
  height: 20px;
  border: none;
  outline: none;
  padding: 3px 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
}
.ref__link_value::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.ref__link_value:-ms-input-placeholder {
  color: #000;
}
.ref__link_value::-webkit-input-placeholder {
  color: #000;
}
.ref__link_value:focus, .ref__link_value:active {
  outline: none;
}
.ref__link_value:focus::-moz-placeholder, .ref__link_value:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.ref__link_value:focus:-ms-input-placeholder, .ref__link_value:active:-ms-input-placeholder {
  color: transparent;
}
.ref__link_value:focus::-webkit-input-placeholder, .ref__link_value:active::-webkit-input-placeholder {
  color: transparent;
}
.ref__link_button {
  color: #fff;
  border: none;
  outline: none;
  height: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding: 5px 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  margin-right: 5px;
  background: #f9b104;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.ref__link_button:hover {
  color: #fff;
  background: #f99300;
  text-decoration: none;
}
.ref__link_button:active {
  background: #f9b104;
}
.ref__link_button:focus, .ref__link_button.focus {
  outline: 0;
}

.widget {
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  background: #fff;
  padding: 20px 25px;
  position: relative;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.widget__heading {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.widget__icon {
  top: 26px;
  right: 26px;
  width: 34px;
  height: 34px;
  position: absolute;
}
.widget__icon .ico-svg {
  fill: #f9b104;
}
.widget__data {
  color: #00478b;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 25px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.widget__info {
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.widget__info_value {
  color: #fff;
  height: 20px;
  padding: 3px 8px;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 10px;
  line-height: 1.4rem;
  background: #444;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.widget__info_green {
  background: #44b759;
}
.widget__info_red {
  background: #f24841;
}
.widget__info_text {
  font-size: 1.3rem;
  line-height: 2rem;
  display: inline-block;
}
.widget__wrap {
  margin: -10px 0;
}
.widget__item {
  position: relative;
  padding: 4px 0 4px 43px;
}
.widget__item_icon {
  left: 0;
  top: 50%;
  width: 29px;
  height: 29px;
  margin-top: -15px;
  position: absolute;
}
.widget__item .ico-svg {
  fill: #f9b104;
}
.widget__item_title {
  color: #000;
  font-size: 1.2rem;
  line-height: 2rem;
}
.widget__item_value {
  color: #00478b;
  font-size: 1.6rem;
  line-height: 2rem;
}

.sticker {
  background: #fff;
  font-size: 1.4rem;
  line-height: 2.4rem;
  position: relative;
  padding: 8px 40px 8px 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.sticker__close {
  top: 0;
  right: 0;
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  position: absolute;
}
.sticker__close:after, .sticker__close:before {
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 18px;
  height: 1px;
  content: "";
  background: #000;
  margin-left: -9px;
  position: absolute;
}
.sticker__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sticker__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.panel {
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.panel__heading {
  padding: 15px 20px 15px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.panel__heading h4 {
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.panel__heading_border {
  padding: 25px 20px;
  border-bottom: 1px solid #eaeaea;
}
.panel__heading_value {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4rem;
  display: inline-block;
  padding: 3px 12px;
  margin-left: 10px;
  background: #f9b104;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.panel__close {
  width: 20px;
  height: 20px;
  padding: 2px 0;
  color: #7f7f7f;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.panel__body {
  padding: 0 20px 20px 20px;
}
.panel__row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.panel__col {
  padding: 0 10px;
}
.panel.collapse .panel__close {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .l_chart {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .l_chart__legend {
    width: 180px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .l_chart__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.count {
  font-size: 1.6rem;
  line-height: 2rem;
  padding-left: 13px;
  margin-bottom: 20px;
  border-left: 2px solid #ccc;
}
.count_blue {
  border-left-color: #00478b;
}
.count_yellow {
  border-left-color: #f9b104;
}
.count__title {
  color: #8d949e;
}
.count__value span {
  font-weight: 600;
  display: inline-block;
}
.count__value i {
  margin-left: 6px;
}

.mini_level__title {
  font-size: 3.2rem;
  line-height: 4rem;
  color: #f9b104;
}
.mini_level__title strong {
  font-weight: 700;
}
.mini_level__title small {
  font-weight: 600;
  font-size: 2.2rem;
}
.mini_level__data {
  color: #8d949e;
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 5px;
}
.mini_level__data:last-child {
  margin-bottom: 0;
}
.mini_level__data span {
  display: block;
}
.mini_level__data strong {
  display: block;
  color: #f9b104;
}

.summary {
  margin: 0;
  font-size: 0;
  padding: 20px 0 0 0;
  line-height: 0;
  max-width: 100%;
  background: #fff;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.summary > li {
  width: 50%;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
}
.summary > li span {
  color: #8d949e;
  display: block;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.summary > li strong {
  display: block;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #f9b104;
}
@media (min-width: 768px) {
  .summary > li {
    width: 20%;
    border-right: 1px solid #ececec;
  }
  .summary > li:last-child {
    border-right: none;
  }
}
@media (min-width: 1250px) {
  .summary > li span {
    font-size: 1.4rem;
  }
  .summary > li strong {
    font-size: 2.2rem;
  }
}

.investments {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  background: #e7eaeb;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.investments > li > a {
  height: 40px;
  color: #000;
  text-align: center;
  background: #e7eaeb;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.investments > li > a i {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.investments > li > a strong {
  padding: 0 5px;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  display: inline-block;
  text-transform: uppercase;
}
.investments > li > a span {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  padding: 2px 10px;
  display: inline-block;
  background: #f9b104;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.investments > li > a .ico-svg {
  fill: #000;
}
.investments > li > a:hover {
  color: #000;
  text-decoration: none;
}
.investments > li:last-child > a i {
  width: 22px;
  height: 22px;
}
.investments > li.active > a {
  color: #fff;
  text-decoration: none;
  background: #f9b104;
}
.investments > li.active > a .ico-svg {
  fill: #fff;
}
.investments > li.active > a span {
  background: #e5a305;
}
@media (min-width: 576px) {
  .investments {
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .investments > li {
    width: 33.33%;
  }
}

.tabs_item {
  display: none;
}
.tabs_item.active {
  display: block;
}

.lead {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
}

.link_black {
  color: #000;
  text-decoration: none;
}
.link_black:hover {
  color: #000;
  text-decoration: underline;
}

.pagination {
  margin: 0 -5px;
  font-size: 0;
  line-height: 0;
  list-style: none;
  padding: 30px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.pagination li {
  margin: 0 5px;
  display: inline-block;
}
.pagination li > a {
  width: 38px;
  height: 38px;
  color: #7f7f7f;
  background: #fff;
  padding: 10px 5px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.pagination li > a:hover {
  color: #f9b104;
  text-decoration: none;
}
.pagination li > span {
  width: 38px;
  height: 38px;
  color: #7f7f7f;
  background: #fff;
  padding: 10px 5px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.pagination li.active > a,
.pagination li.active > span {
  color: #fff;
  background: #f9b104;
}
.pagination li.active > a:hover,
.pagination li.active > span:hover {
  color: #fff;
  background: #f9b104;
}
.pagination li:first-child a, .pagination li:last-child a {
  width: auto;
  padding: 10px 20px;
}

.search {
  max-width: 520px;
}
.search__row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.search__input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.search__btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.accept {
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
}

.packages {
  margin: 0 -15px;
}
@media (min-width: 768px) {
  .packages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}

.package {
  color: #000;
  height: 195px;
  cursor: pointer;
  position: relative;
  margin: 0 15px 30px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #f9f9fa 0%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #f9f9fa 0%, #ffffff 100%);
  background-image: linear-gradient(to right, #f9f9fa 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF9F9FA", endColorstr="#FFFFFFFF", GradientType=1);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
}
.package:before {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  content: "";
  width: 100%;
  display: block;
  visibility: hidden;
  position: absolute;
  background: url("../img/pattern.png") 100% 50% no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.package:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 200px;
  content: "";
  opacity: 0;
  position: absolute;
  visibility: hidden;
  background: #00478b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.package__wrap {
  z-index: 50;
  padding: 20px 20px;
  position: relative;
}
.package__icon {
  top: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  z-index: 5;
  display: block;
  position: absolute;
}
.package__icon .ico-svg {
  fill: #f9b104;
}
.package__name {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.package__price {
  color: #00478b;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 10px;
}
.package__term {
  font-size: 1.3rem;
  line-height: 2.4rem;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.package__term i {
  width: 22px;
  height: 22px;
  margin-right: 6px;
  display: inline-block;
}
.package__term .ico-svg {
  color: #f9b104;
}
.package__data {
  padding: 0;
  margin: 0 -10px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.package__data li {
  padding: 0 10px;
}
.package__data li strong {
  font-size: 1.5rem;
  display: block;
}
.package__data li span {
  display: block;
}
.package .btn {
  top: 22px;
  opacity: 0;
  right: 20px;
  position: absolute;
  z-index: 100;
  visibility: hidden;
}
.package:hover, .package.active {
  color: #fff;
  -webkit-box-shadow: 0px 15px 25px 0px rgba(55, 60, 184, 0.3);
  box-shadow: 0px 15px 25px 0px rgba(55, 60, 184, 0.3);
}
.package:hover .package__price, .package.active .package__price {
  color: #fff;
}
.package:hover .package__term .ico-svg, .package.active .package__term .ico-svg {
  fill: #fff;
}
.package:hover:after, .package:hover:before, .package.active:after, .package.active:before {
  opacity: 1;
  visibility: visible;
}
.package:hover .package__icon .ico-svg, .package.active .package__icon .ico-svg {
  fill: #efefef;
}
.package:hover .btn, .package.active .btn {
  opacity: 1;
  visibility: visible;
}
.package.active .package__wrap:before {
  left: 50%;
  content: "";
  bottom: -40px;
  margin-left: -7px;
  position: absolute;
  border: 14px solid transparent;
  border-bottom: 14px solid #00478b;
}
@media (min-width: 768px) {
  .package {
    width: calc(50% - 15px);
  }
  .package:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .package:hover .btn {
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: 3;
    box-shadow: 3;
  }
}

.source {
  color: #fff;
  text-align: center;
  padding: 40px 25px;
  background: #00478b url("../img/source__bg.png") 50% 50% no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.source_tab {
  display: none;
}
.source_tab.active {
  display: block;
}
.source__term {
  font-size: 1.3rem;
  line-height: 2.4rem;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.source__term i {
  width: 22px;
  height: 22px;
  margin-right: 6px;
  display: inline-block;
}
.source__term .ico-svg {
  fill: #fff;
}
.source__title {
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.source__info {
  padding: 0;
  margin: 0 auto 30px auto;
  font-size: 1.4rem;
  line-height: 1.8rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.source__info li {
  padding: 0 15px;
}
.source__info li strong {
  font-size: 1.5rem;
  display: block;
}
.source__info li span {
  display: block;
}
.source__data {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.source__data_value {
  width: 100%;
  font-size: 2rem;
  line-height: 3rem;
  padding: 8px 20px;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.source__data_info {
  width: 50%;
  text-align: center;
}
.source__data_info span {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.source__data_info strong {
  display: block;
  font-size: 2.2rem;
  line-height: 2.4rem;
  color: #f9b104;
}
.source__amount {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.source__amount_data {
  padding: 0 10px 3px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
}
.source__amount_slide {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.source .irs-single {
  display: none !important;
}
.source .irs--round .irs-bar {
  background: #f9b104;
}
.source .irs--round .irs-handle {
  border-color: #f9b104;
  cursor: pointer;
}
@media (min-width: 768px) {
  .source__title {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  .source__data {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .source__data_value {
    width: 195px;
    margin: 0 20px;
    font-size: 2rem;
    line-height: 3rem;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }
  .source__data_info {
    width: auto;
    margin: 0 20px;
    text-align: center;
  }
  .source__data_info span {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .source__data_info strong {
    display: block;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: #f9b104;
  }
  .source__amount_data {
    font-size: 1.8rem;
  }
}

.tickets_heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.tickets_heading__button {
  margin-bottom: 25px;
}

.tickets___meta {
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.8rem;
  list-style: none;
  margin: 0 0 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.tickets___meta li {
  padding: 0 10px;
  border-left: 2px solid #f9b104;
}
.tickets___meta li span {
  display: block;
  color: #8d949e;
  white-space: nowrap;
}
.tickets___meta li strong {
  display: block;
  color: #000000;
  font-weight: 400;
  letter-spacing: 1px;
  white-space: nowrap;
}
@media (min-width: 576px) {
  .tickets___meta li {
    padding-right: 45px;
  }
}

.post__meta {
  margin-bottom: 20px;
}
.post__meta_author {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #f9b104;
}
.post__meta_date {
  color: #353535;
  font-size: 1.3rem;
  line-height: 2rem;
}
.post__content {
  padding: 20px;
  color: #646464;
  font-size: 1.5rem;
  line-height: 2.4rem;
  position: relative;
  border: 1px solid #ffde8f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.post__content:before {
  top: -11px;
  left: 24px;
  content: "";
  width: 22px;
  height: 11px;
  position: absolute;
  background: url("../img/post__arrow_left.png") 0 0 no-repeat;
}
.post_invert .post__meta {
  text-align: right;
}
.post_invert .post__meta_author {
  color: #116db2;
}
.post_invert .post__content {
  border-color: #8caccb;
}
.post_invert .post__content:before {
  left: auto;
  right: 24px;
  background-image: url("../img/post__arrow_right.png");
}

.career {
  overflow: hidden;
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.career__heading {
  color: #000;
  width: 200px;
  height: 150px;
  position: relative;
  text-transform: uppercase;
  padding: 25px 10px 10px 25px;
}
.career__heading_icon {
  width: 48px;
  height: 42px;
  display: block;
  margin-bottom: 15px;
}
.career__heading .ico-svg {
  fill: #bababa;
}
.career__heading_level {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
}
.career__heading_name {
  font-size: 1.5rem;
  line-height: 2rem;
}
.career__body {
  padding: 10px 15px;
}
.career__progress {
  padding: 7px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.career__progress_from {
  color: #000;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-right: 10px;
  white-space: nowrap;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.career__progress_to {
  color: #979797;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-left: 10px;
  white-space: nowrap;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.career__progress_line {
  height: 10px;
  overflow: hidden;
  position: relative;
  background: #ebebeb;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: nset 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
  box-shadow: nset 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
}
.career__progress_slide {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #1775a7 0%, #39a668 100%);
  background-image: -o-linear-gradient(left, #1775a7 0%, #39a668 100%);
  background-image: linear-gradient(to right, #1775a7 0%, #39a668 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF1775A7", endColorstr="#FF39A668", GradientType=1);
}
.career__step {
  padding: 0;
  list-style: none;
  margin: 0 0 10px 0;
  display: none;
}
.career__step li {
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.career__step li:last-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.career__step .ico-svg {
  fill: #bababa;
}
.career__step_icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  display: inline-block;
}
.career__step_text {
  color: #8c8c8c;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.career__step_text strong {
  color: #000;
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}
.career__step_text span {
  display: block;
}
.career_success .career__heading {
  color: #fff;
  background: #00478b;
}
.career_success .career__heading:before {
  display: none;
}
.career_success .career__heading .ico-svg {
  fill: #fff;
}
.career_success .career__heading_level {
  color: #f9b104;
}
.career_success .career__step .ico-svg {
  fill: #f9b104;
}
.career_current {
  border-left: 6px solid #f9b104;
}
.career_current .career__heading {
  color: #fff;
  width: 194px;
  padding: 25px 10px 10px 19px;
  background: #00478b;
}
.career_current .career__heading:before {
  display: none;
}
.career_current .career__heading .ico-svg {
  fill: #fff;
}
.career_current .career__heading_level {
  color: #f9b104;
}
.career_current .career__step .ico-svg {
  fill: #f9b104;
}
.career_current .career__progress_from {
  color: #054f87;
}
.career_current .career__progress_to {
  color: #3faf5d;
}
@media (min-width: 768px) {
  .career {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .career__heading {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .career__heading:before {
    right: 0;
    top: 20px;
    width: 1px;
    content: "";
    bottom: 20px;
    display: block;
    position: absolute;
    background: #eaeaea;
  }
  .career__body {
    height: 150px;
    padding: 20px 35px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .career__step {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1250px) {
  .career__step_icon {
    width: 30px;
    height: 30px;
  }
  .career__step_text {
    font-size: 1.4rem;
  }
  .career__step_text strong {
    font-size: 1.5rem;
  }
}

.elem {
  width: 230px;
}
.elem_row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.elem_col {
  width: 230px;
  margin: 0 15px 30px 15px;
}
.elem__image {
  padding: 10px;
  overflow: hidden;
  width: 230px;
  height: 230px;
  font-size: 0;
  line-height: 0;
  background: #e5ecf4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.elem__image_wrap {
  display: block;
  text-align: center;
}
.elem__image_item {
  display: inline-block;
}
.elem__image_item img {
  height: auto;
  max-width: 100%;
  display: inline-block;
}
.elem__content {
  padding: 0 25px 25px 25px;
  border: 1px solid #e5ecf4;
  border-top: none;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.elem__size {
  height: 45px;
  color: #353535;
  padding: 12px 0;
  font-size: 1.3rem;
  line-height: 2.1rem;
  text-align: center;
}
.elem__btn {
  margin: 0;
  padding: 0;
  list-style: none;
}
.elem__btn li:first-child {
  margin-bottom: 10px;
}
.elem__btn li .btn {
  width: 100%;
}

.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}
.accordion > li {
  overflow: hidden;
  background: #fff;
  margin-bottom: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.accordion > li.open .accordion__heading i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion__heading {
  cursor: pointer;
  padding: 24px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.accordion__heading h3 {
  margin: 0;
  color: #000;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 10px 0 0;
  text-transform: uppercase;
}
.accordion__heading i {
  font-size: 1.6rem;
  line-height: 1.6rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.accordion__content {
  display: none;
  padding: 6px 30px 24px 30px;
}

.double_list {
  color: #7f7f7f;
  font-size: 1.4rem;
  line-height: 2rem;
}
.double_list dl {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ececec;
}
.double_list dt {
  margin: 0;
  padding: 10px;
}
.double_list dd {
  margin: 0;
  padding: 10px;
}
.double_list .double_list_heading {
  display: none;
  color: #353535;
  text-transform: uppercase;
  border-bottom: 2px solid #ececec;
}
.double_list .double_list_heading dd {
  min-width: 198px;
}
@media (min-width: 576px) {
  .double_list dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .double_list .double_list_heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
