.header {
	color: #fff;
	width: 100%;
	z-index: 1010;
	position: relative;
	background: #00478b;

	&__row {
		height: 60px;
		padding: 10px 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__toggle {
		padding: 9px 4px;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		text-decoration: none;
		display: inline-block;
		@include transition(.3s);

		span {
			width: 100%;
			height: 2px;
			background: #fff;
			position: relative;
			margin-bottom: 4px;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:hover {
			@include transition(.3s);

			span {
				background: $color-yellow;
			}
		}
	}

	&__content {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -15px;
		@include flexbox();

		> li {
			padding: 5px 15px;
			border-left: 1px solid #1a5a97;

			&:first-child {
				border-left: none;
			}
		}
	}

	&__auth {
		color: #fff;
		height: 30px;
		font-size: 1.3rem;
		line-height: 2rem;
		position: relative;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);
		@include transition(.3s);

		i {
			width: 13px;
			height: 15px;
			margin-right: 6px;
			display: block;
		}

		span {
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}

		&:hover {
			color: $color-yellow;
			text-decoration: none;
			@include transition(.3s);

			.ico-svg {
				fill: $color-yellow;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		&__row {
			height: 70px;
			padding: 15px 0;
		}

		&__content {

			> li {
				padding: 5px 25px;
			}
		}
	}
}

.notify {
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&__label {
		height: 30px;
		color: #ffb506;
		min-width: 60px;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		background: rgba(255,255,255,0.07);
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include border-radius(15px);
		@include transition(.3s);

		.ico-svg {
			fill: #fff;
		}

		i {
			z-index: 10;
			width: 16px;
			height: 18px;
			margin-right: 5px;
			display: inline-block;
		}

		span {
			z-index: 20;
			font-weight: 700;
			font-size: 1.1rem;
			line-height: 2rem;
			display: inline-block;
		}

		&:hover {
			color: $color-yellow;
			text-decoration: none;
			background: rgba(255,255,255,0.17);
			@include transition(.3s);

			.ico-svg {
			//	fill: $color-yellow;
			}
		}
	}

	&__dropdown {
		right: 0;
		top: 100%;
		width: 230px;
		z-index: 1200;
		display: none;
		background: #00478b;
		margin-top: 10px;
		position: absolute;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				border-bottom: 1px solid #00559c;

				a {
					color: #fff;
					display: block;
					font-size: 1.4rem;
					line-height: 1.8rem;
					padding: 10px 15px;
					text-decoration: none;

					strong {
						display: block;
						font-size: 1.5rem;
					}

					span {
						display: block;
					}
				}
			}
		}
	}

	&_view {
		display: block;
		background: #111;
		padding: 7px 10px;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		color: $color-yellow;
		text-decoration: none;

		&:hover {
			color: #c0c2c7;
			text-decoration: none;
		}
	}

	&.open {

	}

}