.accordion {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		overflow: hidden;
		background: #fff;
		margin-bottom: 5px;
		@include border-radius(4px);

		&.open {

			.accordion__heading {

				i {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}
		}
	}

	&__heading {
		cursor: pointer;
		padding: 24px 30px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		h3 {
			margin: 0;
			color: #000;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			padding: 0 10px 0 0;
			text-transform: uppercase;
		}

		i {
			font-size: 1.6rem;
			line-height: 1.6rem;
			@include transition(.3s);
		}
	}

	&__content {
		display: none;
		padding: 6px 30px 24px 30px;
	}
}

.double_list {
	color: #7f7f7f;
	font-size: 1.4rem;
	line-height: 2rem;

	dl {
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #ececec;
	}

	dt {
		margin: 0;
		padding: 10px;
	}

	dd {
		margin: 0;
		padding: 10px;
	}

	.double_list_heading {
		display: none;
		color: #353535;
		text-transform: uppercase;
		border-bottom: 2px solid #ececec;

		dd {
			min-width: 198px;
		}
	}

	@media (min-width: $screen-sm-min) {

		dl {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		.double_list_heading {
			@include flexbox();
		}
	}
}
