.sidebar {
	top: 0;
	left: 0;
	width: 240px;
	z-index: 1010;
	height: 100vh;
	position: fixed;
	margin-left: -240px;
	background: #00478b;
	@include transition(.3s);

	&__wrap {
		height: calc(100vh - 60px);
	}

	&__logo {
		height: 60px;
		display: block;
		position: relative;
		background: #00407d;

		i {
			top: 50%;
			left: 50%;
			width: 166px;
			height: 32px;
			display: block;
			position: absolute;
			margin: -16px 0 0 -83px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-left: 0;

		&__wrap {
			height: calc(100vh - 70px);
		}

		&__logo {
			height: 70px;
		}
	}
}

.sidenav {

	&__heading {
		color: #fff;
		font-size: 1.2rem;
		line-height: 2rem;
		position: relative;
		padding: 12px 20px 12px 55px;

		&:before {
			top: 50%;
			left: 18px;
			width: 29px;
			height: 1px;
			content: '';
			position: absolute;
			background: $color-yellow;
			display: inline-block;
		}
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			 > a {
				 color: #fff;
				 width: 100%;
				 height: 44px;
				 font-size: 1.2rem;
				 line-height: 2rem;
				 position: relative;
				 display: inline-block;
				 text-decoration: none;
				 text-transform: uppercase;
				 padding: 12px 40px 12px 45px;

				 b {
					 top: 50%;
					 left: 18px;
					 width: 17px;
					 height: 17px;
					 margin-top: -8px;
					 position: absolute;
					 display: inline-block;
				 }

				 .ico-svg {
					 fill: #fff;
				 }

				 i {
					 top: 50%;
					 right: 20px;
					 margin-top: -8px;
					 position: absolute;
					 font-size: 1.6rem;
					 line-height: 1.6rem;
					 @include transition(.3s);
				 }

				 &:hover {
					 background: #00407d;
					 color: $color-yellow;
					 text-decoration: none;

					 .ico-svg {
						 fill: $color-yellow;
					 }
				 }
			 }

			&.active {

				> a {
					background: #00407d;
					color: $color-yellow;
					text-decoration: none;

					.ico-svg {
						fill: $color-yellow;
					}
				}
			}

			&.open {

				> a {
					background: #00407d;
					color: $color-yellow;
					text-decoration: none;

					.ico-svg {
						fill: $color-yellow;
					}

					i {
						@include rotate(90deg);
						@include transition(.3s);
					}
				}
			}

			> ul {
				margin: 0;
				padding: 10px 0;
				display: none;
				list-style: none;

				li {

					a {
						width: 100%;
						color: #fff;
						font-size: 1.2rem;
						line-height: 2rem;
						text-decoration: none;
						display: inline-block;
						padding: 5px 40px 5px 45px;

						&:hover {
							color: $color-yellow;
							text-decoration: none;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}