.page {
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
	position: relative;
	background: #f3f7f8;

	&.sidebar_open {

		.sidebar {
			margin-left: 0;
			@include transition(.3s);
		}

		.main {
			@include translate(240px,0);
			@include transition(.3s);
		}
	}

	@media (min-width: $screen-lg-min) {

		&.sidebar_open {

			.sidebar {
				margin-left: -240px;
			}

			.main {
				margin-left: 0;
				@include translate(0,0);
			}
		}
	}
}

.main {
	@include transition(.3s);

	@media (min-width: $screen-lg-min) {
		margin-left: 240px;
		@include translate(0,0);
	}
}

.content {
	padding-top: 30px;
	padding-bottom: 30px;
}

.markets {

	.swiper-slide {
		width: 156px;
	}

	&__item {
		width: 100%;
		color: #000;
		padding: 10px;
		background: #fff;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.6rem;
		@include border-radius(8px);
	}

	&__top {
		width: 100%;
		font-weight: 700;
		font-size: 1.4rem;
		margin-bottom: 6px;
		@include flexbox();
		@include justify-content(space-between);

		i {
			margin-left: 5px;
		}
	}

	&__bottom {
		width: 100%;
		@include flexbox();
		@include justify-content(space-between);
	}
}

.ref {
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	padding-left: 10px;
	border-left: 2px solid #f9b104;


	&__title {
		display: inline-block;
		font-size: 1.3rem;
		line-height: 1.8rem;
		padding-right: 30px;
		@include flex-shrink(0);

		strong {
			display: block;
		}

		span {
			color: #8d949e;
			display: block;
		}
	}

	&__link {
		height: 32px;
		max-width: 445px;
		font-size: 1.2rem;
		line-height: 1.6rem;
		background: #e7eaeb;
		padding-left: 20px;
		@include flexbox();
		@include align-items(center);
		@include border-radius(16px);
		@include flex-grow(1);

		&_label {
			padding: 3px 0 1px 0;
			color: #8e8e8e;
			font-size: 1.2rem;
			line-height: 1.6rem;
			white-space: nowrap;
			@include flex-shrink(0);
		}

		&_input {
			margin: 0 7px;
			@include flex-grow(1);
		}

		&_value {
			margin: 0;
			width: 100%;
			color: #000;
			height: 20px;
			border: none;
			outline: none;
			padding: 3px 0;
			font-weight: 400;
			font-size: 1.2rem;
			line-height: 1.4rem;
			display: inline-block;
			vertical-align: middle;
			background: transparent;
			@include placeholder(#000);

			&:focus,
			&:active {
				outline: none;
				@include placeholder(transparent);
			}
		}

		&_button {
			color: #fff;
			border: none;
			outline: none;
			height: 24px;
			cursor: pointer;
			font-weight: 600;
			font-size: 1.1rem;
			line-height: 1.4rem;
			padding: 5px 20px;
			user-select: none;
			text-align: center;
			white-space: nowrap;
			margin-right: 5px;
			background: #f9b104;
			display: inline-block;
			text-decoration: none;
			vertical-align: middle;
			text-transform: uppercase;
			@include border-radius(12px);
			@include flex-shrink(0);

			&:hover {
				color: #fff;
				background: #f99300;
				text-decoration: none;
			}

			&:active {
				background: #f9b104;
			}

			&:focus,
			&.focus {
				outline: 0;
			}
		}
	}
}


.widget {
	width: 100%;
	height: 100%;
	font-size: 0;
	line-height: 0;
	background: #fff;
	padding: 20px 25px;
	position: relative;
	background-size: cover;
	@include flexbox();
	@include flex-direction(column);
	@include border-radius(6px);

	&__heading {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	&__icon {
		top: 26px;
		right: 26px;
		width: 34px;
		height: 34px;
		position: absolute;

		.ico-svg {
			fill: $color-yellow;
		}
	}

	&__data {
		color: $color-blue;
		font-weight: 600;
		font-size: 2.2rem;
		line-height: 2.6rem;
		margin-bottom: 25px;
		@include flex-grow(1);

	}

	&__info {
		color: #000;
		@include flexbox();
		@include align-items(center);

		&_value {
			color: #fff;
			height: 20px;
			padding: 3px 8px;
			font-weight: 700;
			font-size: 1.2rem;
			text-align: center;
			margin-right: 10px;
			line-height: 1.4rem;
			background: #444;
			display: inline-block;
			@include border-radius(3px);
		}

		&_green {
			background: #44b759;
		}

		&_red {
			background: #f24841;
		}

		&_text {
			font-size: 1.3rem;
			line-height: 2rem;
			display: inline-block;
		}
	}

	&__wrap {
		margin: -10px 0;
	}

	&__item {
		position: relative;
		padding: 4px 0 4px 43px;

		&_icon {
			left: 0;
			top: 50%;
			width: 29px;
			height: 29px;
			margin-top: -15px;
			position: absolute;
		}

		.ico-svg {
			fill: $color-yellow;
		}

		&_title {
			color: #000;
			font-size: 1.2rem;
			line-height: 2rem;
		}

		&_value {
			color: $color-blue;
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}
}

.sticker {
	background: #fff;
	font-size: 1.4rem;
	line-height: 2.4rem;
	position: relative;
	padding: 8px 40px 8px 15px;
	@include border-radius(6px);

	&__close {
		top: 0;
		right: 0;
		content: '';
		width: 40px;
		height: 40px;
		display: block;
		cursor: pointer;
		position: absolute;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 1;
			width: 18px;
			height: 1px;
			content: '';
			background: #000;
			margin-left: -9px;
			position: absolute;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}
}

.panel {
	background: #fff;
	@include border-radius(6px);

	&__heading {
		padding: 15px 20px 15px 20px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		h4 {
			margin-bottom: 0;
			@include flexbox();
			@include align-items(center);
		}

		&_border {
			padding: 25px 20px;
			border-bottom: 1px solid #eaeaea;
		}

		&_value {
			color: #fff;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.4rem;
			display: inline-block;
			padding: 3px 12px;
			margin-left: 10px;
			background: $color-yellow;
			@include border-radius(20px);
		}
	}

	&__close {
		width: 20px;
		height: 20px;
		padding: 2px 0;
		color: #7f7f7f;
		cursor: pointer;
		font-size: 1.6rem;
		line-height: 1.6rem;
		text-align: center;
		display: inline-block;
		@include transition(.3s);
	}

	&__body {
		padding: 0 20px 20px 20px;
	}

	&__row {
		margin: 0 -10px;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__col {
		padding: 0 10px;
	}

	&.collapse {

		.panel__close {
			@include rotate(180deg);
			@include transition(.3s);
		}

		.panel__heading {
		//	padding-bottom: 15px;
		}
	}
}

.l_chart {

	&__legend {

	}

	&__content {

	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		@include flexbox();
		@include justify-content(space-between);

		&__legend {
			width: 180px;
			@include flex-shrink(0);
		}

		&__content {
			@include flex-grow(1);
		}
	}
}

.count {
	font-size: 1.6rem;
	line-height: 2rem;
	padding-left: 13px;
	margin-bottom: 20px;
	border-left: 2px solid #ccc;

	&_blue {
		border-left-color: $color-blue;
	}

	&_yellow {
		border-left-color: $color-yellow;
	}

	&__title {
		color: #8d949e;
	}

	&__value {

		span {
			font-weight: 600;
			display: inline-block;
		}

		i {
			margin-left: 6px;
		}
	}
}

.mini_level {

	&__title {
		font-size: 3.2rem;
		line-height: 4rem;
		color: $color-yellow;

		strong {
			font-weight: 700;
		}

		small {
			font-weight: 600;
			font-size: 2.2rem;
		}
	}

	&__data {
		color: #8d949e;
		font-size: 1.3rem;
		line-height: 1.7rem;
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}


		span {
			display: block;
		}

		strong {
			display: block;
			color: #f9b104;
		}
	}
}

.summary {
	margin: 0;
	font-size: 0;
	padding: 20px 0 0 0;
	line-height: 0;
	max-width: 100%;
	background: #fff;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);
	@include border-radius(6px);

	> li {
		width: 50%;
		padding: 10px 20px;
		margin-bottom: 20px;
		text-align: center;


		span {
			color: #8d949e;
			display: block;
			font-size: 1.2rem;
			line-height: 1.8rem;
		}

		strong {
			display: block;
			font-weight: 400;
			font-size: 1.8rem;
			line-height: 2.2rem;
			color: $color-yellow;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 20%;
			border-right: 1px solid #ececec;

			&:last-child {
				border-right: none;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		> li {

			span {
				font-size: 1.4rem;
			}

			strong {
				font-size: 2.2rem;
			}
		}
	}
}

.investments {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	background: #e7eaeb;
	@include border-radius(20px);

	> li {
		> a {
			height: 40px;
			color: #000;
			text-align: center;
			background: #e7eaeb;
			text-decoration: none;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
			@include border-radius(20px);

			i {
				width: 16px;
				height: 16px;
				display: inline-block;
			}

			strong {
				padding: 0 5px;
				font-weight: 700;
				font-size: 1.3rem;
				line-height: 2rem;
				display: inline-block;
				text-transform: uppercase;
			}

			span {
				color: #fff;
				font-weight: 700;
				font-size: 1.2rem;
				line-height: 1.6rem;
				text-align: center;
				padding: 2px 10px;
				display: inline-block;
				background: $color-yellow;
				@include border-radius(10px);
			}

			.ico-svg {
				fill: #000;
			}

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}

		&:last-child {

			> a {

				i {
					width: 22px;
					height: 22px;
				}
			}
		}

		&.active {

			 > a {
				 color: #fff;
				 text-decoration: none;
				 background: $color-yellow;

				 .ico-svg {
					 fill: #fff;
				 }

				 span {
					 background: #e5a305;
				 }
			 }
		}
	}

	@media (min-width: $screen-sm-min) {
		height: 40px;
		@include flexbox();

		> li {
			width: 33.33%;
		}
	}
}

.tabs {

	&_item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.lead {
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
}

.link_black {
	color: #000;
	text-decoration: none;

	&:hover {
		color: #000;
		text-decoration: underline;
	}
}

.pagination {
	margin: 0 -5px;
	font-size: 0;
	line-height: 0;
	list-style: none;
	padding: 30px 0 0 0;
	@include flexbox();
	@include justify-content(center);

	 li {
		 margin: 0 5px;
		 display: inline-block;

		 > a {
			 width: 38px;
			 height: 38px;
			 color: #7f7f7f;
			 background: #fff;
			 padding: 10px 5px;
			 font-size: 1.2rem;
			 line-height: 1.8rem;
			 text-align: center;
			 display: inline-block;
			 text-decoration: none;
			 @include border-radius(4px);

			 &:hover {
				 color: $color-yellow;
				 text-decoration: none;
			 }
		 }

		 > span {
			 width: 38px;
			 height: 38px;
			 color: #7f7f7f;
			 background: #fff;
			 padding: 10px 5px;
			 font-size: 1.2rem;
			 line-height: 1.8rem;
			 text-align: center;
			 display: inline-block;
			 text-decoration: none;
			 @include border-radius(4px);
		 }

		 &.active {

			 > a,
			 > span {
				 color: #fff;
				 background: $color-yellow;

				 &:hover {
					 color: #fff;
					 background: $color-yellow;
				 }
			 }
		 }

		 &:first-child,
		 &:last-child {

			 a {
				 width: auto;
				 padding: 10px 20px;
			 }
		 }
	}
}

.search {
	max-width: 520px;

	&__row {
		width: 100%;
		@include flexbox();
	}

	&__input {
		@include border-radius(4px 0 0 4px);
	}

	&__btn {
		@include border-radius(0 4px 4px 0);
	}
}


.accept {
	padding-bottom: 30px;
	border-bottom: 1px solid #e3e3e3;
}

.packages {
	margin: 0 -15px;

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);
	}
}

.package {
//	width: 100%;
	color: #000;
	height: 195px;
	cursor: pointer;
//	overflow: hidden;
	position: relative;
	margin: 0 15px 30px 15px;
	@include border-radius(5px);
	@include gradient-horizontal(#f9f9fa,#ffffff);
	@include box-shadow(0px 2px 10px 0px rgba(0, 0, 0, 0.06));

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		opacity: 0;
		content: '';
		width: 100%;
		display: block;
		visibility: hidden;
		position: absolute;
		background: url("../img/pattern.png") 100% 50% no-repeat;
		@include border-radius(5px);

	}

	&:after {
		top: 0;
		bottom: 0;
		left: 0;
		right: 200px;
		content: '';
		opacity: 0;
		position: absolute;
		visibility: hidden;
		background: #00478b;
		@include border-radius(5px);
	}


	&__wrap {
		z-index: 50;
		padding: 20px 20px;
		position: relative;

		&:before {

		}
	}

	&__icon {
		top: 24px;
		right: 24px;
		width: 56px;
		height: 56px;
		z-index: 5;
		display: block;
		position: absolute;

		.ico-svg {
			fill: $color-yellow;
		}
	}

	&__name {
		font-weight: 600;
		font-size: 2.2rem;
		line-height: 2.2rem;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__price {
		color: #00478b;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.4rem;
		margin-bottom: 10px;
	}

	&__term {
		font-size: 1.3rem;
		line-height: 2.4rem;
		margin-bottom: 10px;
		@include flexbox();
		@include align-items(center);

		i {
			width: 22px;
			height: 22px;
			margin-right: 6px;
			display: inline-block;
		}

		.ico-svg {
			color: $color-yellow;
		}
	}

	&__data {
		padding: 0;
		margin: 0 -10px;
		font-size: 1.4rem;
		line-height: 1.8rem;
		list-style: none;
		@include flexbox();

		li {
			padding: 0 10px;

			strong {
				font-size: 1.5rem;
				display: block;
			}

			span {
				display: block;
			}
		}
	}

	.btn {
		top: 22px;
		opacity: 0;
		right: 20px;
		position: absolute;
		z-index: 100;
		visibility: hidden;
	}


	&:hover,
	&.active {
		color: #fff;
		@include box-shadow(0px 15px 25px 0px rgba(55, 60, 184, 0.30));

		.package__price {
			color: #fff;
		}

		.package__term {

			.ico-svg {
				fill: #fff;
			}
		}

		&:after,
		&:before {
			opacity: 1;
			visibility: visible;
		}

		.package__icon {

			.ico-svg {
				fill: #efefef;
			}
		}

		.btn {
			opacity: 1;
			visibility: visible;
		}
	}

	&.active {

		.package__wrap {

			&:before {
				left: 50%;
				content: '';
				bottom: -40px;
				margin-left: -7px;
				position: absolute;
				border: 14px solid transparent;
				border-bottom: 14px solid $color-blue;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: calc(50% - 15px);

		&:hover {

			&:before {
				opacity: 1;
				visibility: visible;
			}

			.btn {
				opacity: 1;
				visibility: visible;
				@include box-shadow(3)
			}
		}

	}
}

.source {
	color: #fff;
	text-align: center;
	padding: 40px 25px;
	background: #00478b url("../img/source__bg.png") 50% 50% no-repeat;
	@include border-radius(4px);

	&_tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__term {
		font-size: 1.3rem;
		line-height: 2.4rem;
		margin-bottom: 10px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		i {
			width: 22px;
			height: 22px;
			margin-right: 6px;
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}
	}

	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 2.4rem;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__info {
		padding: 0;
		margin: 0 auto 30px auto;
		font-size: 1.4rem;
		line-height: 1.8rem;
		list-style: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		li {
			padding: 0 15px;

			strong {
				font-size: 1.5rem;
				display: block;
			}

			span {
				display: block;
			}
		}
	}

	&__data {
		font-size: 0;
		line-height: 0;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);

		&_value {
			width: 100%;
			font-size: 2rem;
			line-height: 3rem;
			padding: 8px 20px;
			text-align: center;
			margin-bottom: 20px;
			display: inline-block;
			border: 1px solid  #fff;
			@include border-radius(4px);
		}

		&_info {
			width: 50%;
			text-align: center;

			span {
				display: block;
				font-size: 1.4rem;
				line-height: 1.8rem;
			}

			strong {
				display: block;
				font-size: 2.2rem;
				line-height: 2.4rem;
				color: $color-yellow;
			}
		}
	}

	&__amount {
		max-width: 700px;
		margin: 0 auto;
		@include flexbox();
		@include align-items(flex-end);
		@include justify-content(space-between);

		&_data {
			padding: 0 10px 3px 10px;
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			white-space: nowrap;
		}

		&_slide {
			@include flex-grow(1);
		}
	}

	.irs-single {
		display: none !important;
	}

	.irs--round .irs-bar {
		background: $color-yellow;
	}

	.irs--round .irs-handle {
		border-color: $color-yellow;
		cursor: pointer;
	}

	@media (min-width: $screen-md-min) {

		&__title {
			font-size: 3.2rem;
			line-height: 3.2rem;
		}

		&__data {
			@include flex-wrap(nowrap);
			@include justify-content(center);

			&_value {
				width: 195px;
				margin: 0 20px;
				font-size: 2rem;
				line-height: 3rem;
				padding: 8px 20px;
				text-align: center;
				display: inline-block;
				border: 1px solid  #fff;
				@include border-radius(4px);
			}

			&_info {
				width: auto;
				margin: 0 20px;
				text-align: center;

				span {
					display: block;
					font-size: 1.4rem;
					line-height: 1.8rem;
				}

				strong {
					display: block;
					font-size: 2.2rem;
					line-height: 2.4rem;
					color: $color-yellow;
				}
			}
		}

		&__amount {

			&_data {
				font-size: 1.8rem;
			}
		}
	}
}


.tickets_heading {
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);

	&__button {
		margin-bottom: 25px;
	}
}

.tickets___meta {
	padding: 0;
	font-size: 1.3rem;
	line-height: 1.8rem;
	list-style: none;
	margin: 0 0 25px 0;
	@include flexbox();

	li {
		padding: 0 10px;
		border-left: 2px solid $color-yellow;

		span {
			display: block;
			color: #8d949e;
			white-space: nowrap;
		}

		strong {
			display: block;
			color: #000000;
			font-weight: 400;
			letter-spacing: 1px;
			white-space: nowrap;
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			padding-right: 45px;
		}
	}
}

.post {

	&__meta {
		margin-bottom: 20px;

		&_author {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			color: $color-yellow;
		}

		&_date {
			color: #353535;
			font-size: 1.3rem;
			line-height: 2rem;
		}
	}

	&__content {
		padding: 20px;
		color: #646464;
		font-size: 1.5rem;
		line-height: 2.4rem;
		position: relative;
		border: 1px solid #ffde8f;
		@include border-radius(5px);

		&:before {
			top: -11px;
			left: 24px;
			content: '';
			width: 22px;
			height: 11px;
			position: absolute;
			background: url("../img/post__arrow_left.png") 0 0 no-repeat;
		}
	}

	&_invert {

		.post__meta {
			text-align: right;
		}

		.post__meta_author {
			color: #116db2;
		}

		.post__content {
			border-color: #8caccb;

			&:before {
				left: auto;
				right: 24px;
				background-image: url("../img/post__arrow_right.png");
			}
		}
	}
}

.career {
	overflow: hidden;
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid #eaeaea;
	@include border-radius(6px);

	&__heading {
		color: #000;
		width: 200px;
		height: 150px;
		position: relative;
		text-transform: uppercase;
		padding: 25px 10px 10px 25px;

		&_icon {
			width: 48px;
			height: 42px;
			display: block;
			margin-bottom: 15px;
		}

		.ico-svg {
			fill: #bababa;
		}

		&_level {
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
		}

		&_name {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}

	&__body {
		padding: 10px 15px;
	}

	&__progress {
		padding: 7px 0;
		@include flexbox();
		@include align-items(center);

		&_from {
			color: #000;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2rem;
			padding-right: 10px;
			white-space: nowrap;
			@include flex-shrink(0)
		}

		&_to {
			color: #979797;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2rem;
			padding-left: 10px;
			white-space: nowrap;
			@include flex-shrink(0)
		}

		&_line {
			height: 10px;
			overflow: hidden;
			position: relative;
			background: #ebebeb;
			@include flex-grow(1);
			@include border-radius(5px);
			@include box-shadow(nset 0px 3px 7px 0px rgba(0, 0, 0, 0.11));
		}

		&_slide {
			top: 0;
			left: 0;
			bottom: 0;
			position: absolute;
			@include border-radius(5px);
			@include gradient-horizontal(#1775a7,#39a668);
		}
	}

	&__step {
		padding: 0;
		list-style: none;
		margin: 0 0 10px 0;
		display: none;

		li {
			width: 20%;
			@include flexbox();

			&:last-child {
				@include justify-content(flex-end);
			}
		}

		.ico-svg {
			fill: #bababa;
		}


		&_icon {
			width: 15px;
			height: 15px;
			margin-right: 6px;
			display: inline-block;
		}

		&_text {
			color: #8c8c8c;
			font-size: 1.2rem;
			line-height: 1.8rem;

			strong {
				color: #000;
				display: block;
				font-weight: 600;
				font-size: 1.2rem;
			}

			span {
				display: block;
			}
		}
	}

	&_success {

		.career__heading {
			color: #fff;
			background: $color-blue;

			&:before {
				display: none;
			}

			.ico-svg {
				fill: #fff;
			}
		}

		.career__heading_level {
			color: $color-yellow;
		}

		.career__step {

			.ico-svg {
				fill: $color-yellow;
			}
		}
	}

	&_current {
		border-left: 6px solid $color-yellow;

		.career__heading {
			color: #fff;
			width: 194px;
			padding: 25px 10px 10px 19px;
			background: $color-blue;

			&:before {
				display: none;
			}

			.ico-svg {
				fill: #fff;
			}
		}

		.career__heading_level {
			color: $color-yellow;
		}

		.career__step {

			.ico-svg {
				fill: $color-yellow;
			}
		}

		.career__progress_from {
			color: #054f87;
		}

		.career__progress_to {
			color: #3faf5d;
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__heading {
			@include flex-shrink(0);

			&:before {
				right: 0;
				top: 20px;
				width: 1px;
				content: '';
				bottom: 20px;
				display: block;
				position: absolute;
				background: #eaeaea;
			}
		}

		&__body {
			height: 150px;
			padding: 20px 35px;
			@include flex-grow(1);
		}

		&__step {
			@include flexbox();
		}
	}

	@media (min-width: $screen-xl-min) {

		&__step {

			&_icon {
				width: 30px;
				height: 30px;
			}

			&_text {
				font-size: 1.4rem;


				strong {
					font-size: 1.5rem;
				}
			}
		}
	}
}


.elem {
	width: 230px;

	&_row {
		margin: 0 -15px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&_col {
		width: 230px;
		margin: 0 15px 30px 15px;
	}

	&__image {
		padding: 10px;
		overflow: hidden;
		width: 230px;
		height: 230px;
		font-size: 0;
		line-height: 0;
		background: #e5ecf4;
		@include flexbox();
		@include flex-direction(column);
		@include border-radius(8px 8px 0 0);

		&_wrap {
			display: block;
			text-align: center;
		}

		&_item {
			display: inline-block;

			img {
				height: auto;
				max-width: 100%;
				display: inline-block;
			}
		}
	}

	&__content {
		padding: 0 25px 25px 25px;
		border: 1px solid #e5ecf4;
		border-top: none;
		@include border-radius(0 0 8px 8px);
	}

	&__size {
		height: 45px;
		color: #353535;
		padding: 12px 0;
		font-size: 1.3rem;
		line-height: 2.1rem;
		text-align: center;
	}

	&__btn {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			&:first-child {
				margin-bottom: 10px;
			}

			.btn {
				width: 100%;
			}
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}