
.btn {
	color: #fff;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 14px 40px;
	position: relative;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffb506;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ffb506;
	text-transform: uppercase;
	@include border-radius(27px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #ff9300;
		border-color: #ff9300;
		@include transition(.3s);
	}

	&:active {
		background: #ffb506;
		border-color: #ffb506;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_border {
	background: #fff;
	color: $color-yellow;

	.ico-svg {
		fill: $color-yellow;
	}

	&:hover {
		color: #fff;
		background: $color-yellow;
		border-color: $color-yellow;

		.ico-svg {
			fill: #fff;
		}
	}
}

.btn_sm {
	font-size: 1.3rem;
	font-weight: 400;
	padding: 6px 30px;
	text-transform: uppercase;
	@include border-radius(17px);
}

.btn_md {
	padding: 7px 30px;
	font-size: 1.3rem;
	@include border-radius(18px);
}

.btn_xl {
	min-width: 280px;

	@media (min-width: $screen-lg-min) {
		min-width: 360px;
	}
}

.btn_xxl {
	width: 100%;
	padding: 14px 15px;
}


.btn_icon {
	width: 50px;
	height: 50px;
	padding: 10px;

	b {
		top: 50%;
		left: 50%;
		width: 22px;
		height: 22px;
		position: absolute;
		display: inline-block;
		margin: -11px 0 0 -11px;
	}

	.ico-svg {
		fill: #fff;
	}
}

.btn_pdf {
	padding-left: 70px;

	i {
		top: 50%;
		left: 40px;
		width: 26px;
		height: 26px;
		position: absolute;
		display: inline-block;
		margin: -13px 0 0 0;
	}
}

.btn_group {
	margin: 0 -10px;
	@include flexbox();
	@include align-items(center);
	@include flex-wrap(wrap);

	.btn {
		margin: 10px;
	}
}