.form_control {
	margin: 0;
	width: 100%;
	height: 50px;
	outline: none;
	color: #7f7f7f;
	background: #fff;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 14px 20px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #eaeaea;
	@include placeholder(#7f7f7f);
	@include border-radius(4px);

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

	&_total {
		color: #00407d;
		font-size: 1.6rem;
	//	text-align: center;
		background: #f4f4f4;
		border-color: #f4f4f4;
	}
}

textarea.form_control {
	height: auto;
}

.form_select {
	-webkit-appearance : none;
	background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;

	&::-ms-expand {
		display: none;
	}
}

.select_wrap {
	position: relative;

	.form_select {
		z-index: 10;
		position: relative;
		padding-left: 45px;
		background: transparent url("../img/icon__select.png") 100% 50% no-repeat;
	}
}

.form_icon {
	top: 50%;
	left: 20px;
	z-index: 1;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	position: absolute;
	display: inline-block;

	.ico-svg {
		fill: $color-yellow;
	}
}

.form_label {
	display: block;
	color: #353535;
	min-height: 15px;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.5rem;
	margin-bottom: 10px;
	text-transform: uppercase;

	strong {
		font-weight: 600;
	}

	&_icon {
		padding-left: 25px;
		position: relative;

		i {
			left: 0;
			top: -2px;
			width: 18px;
			height: 18px;
			position: absolute;
			display: inline-block;
		}
	}
}

.form_group {
	margin-bottom: 25px;
}


.select {
	z-index: 50;
	width: 100%;
	height: 50px;
	display: block;
	position: relative;

	> i {
		top: 50%;
		z-index: 1;
		right: 18px;
		height: 16px;
		font-size: 16px;
		color: #7f7f7f;
		line-height: 16px;
		margin-top: -8px;
		position: absolute;
	}

	.ico-svg {
		fill: $color-yellow;
	}

	&__active {
		width: 100%;
		height: 50px;
		z-index: 10;
		max-width: 100%;
		position: relative;
		cursor: pointer;
		background: transparent;
		border: 1px solid #eaeaea;
		padding: 5px 40px 5px 18px;
		@include border-radius(4px);
		@include flexbox();
		@include align-items(center);

		i {
			width: 18px;
			height: 18px;
			margin-right: 8px;
			display: inline-block;
		}

		span {
			color: #7f7f7f;
			font-size: 1.5rem;
			line-height: 2rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	&__dropdown {
		left: 0;
		top: 100%;
		margin-top: 3px;
		background: #fff;
		min-width: 100%;
		display: none;
		overflow: hidden;
		position: absolute;
		border: 1px solid #eaeaea;
		@include border-radius(4px);
	}

	&__item {
		display: block;
		font-weight: 400;

		input {
			display: none;
		}

		&_label {
			width: 100%;
			height: 44px;
			color: #7f7f7f;
			cursor: pointer;
			padding: 5px 18px;
			@include flexbox();
			@include align-items(center);

			i {
				width: 18px;
				height: 18px;
				margin-right: 8px;
				display: inline-block;
			}

			span {
				font-size: 1.5rem;
				line-height: 2rem;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&:hover {
				background: #eaeaea;
			}
		}

		input:checked + .select__item_label {
			color: $color-yellow;
		}
	}

	&.open {

		> i {
			@include rotate(180deg);
		}

		.select__active {

		}

		.select__dropdown {
			display: block;
		}
	}
}


.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	cursor: pointer;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #7f7f7f;
		font-size: 1.5rem;
		line-height: 2.1rem;
		position: relative;
		display: inline-block;
		padding: 1px 0 1px 35px;

		&:after {
			top: 0;
			left: 0;
			content: '';
			z-index: 10;
			width: 23px;
			height: 23px;
			display: block;
			position: absolute;
			border: 1px solid #dadada;
			@include border-radius(4px);
		}

		&:before {
			top: 0;
			left: 0;
			content: '';
			z-index: 10;
			width: 23px;
			height: 23px;
			display: block;
			position: absolute;
			background: url("../img/icon__check.png") 50% 50% no-repeat;

			opacity: 0;
			visibility: hidden;
		}
	}

	input:checked + span {


		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}


.input_group {
	width: 100%;
	@include flexbox();

	&__form {
		@include border-radius(4px 0 0 4px);
		@include flex-grow(1);
	}

	&__btn {
		@include border-radius(0 4px 4px 0);
		@include flex-shrink(0)
	}
}

.form_inline {
	width: 100%;
	padding: 0 20px;
	background: #fff;
	border: 1px solid #eaeaea;
	@include placeholder(#7f7f7f);
	@include border-radius(4px);
	@include flexbox();
	@include align-items(center);

	&__form {
		margin: 0;
		width: 100%;
		height: 48px;
		border: none;
		outline: none;
		color: #7f7f7f;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 14px 10px 14px 0;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		@include flex-grow(1);
	}

	&__text {
		font-size: 1.6rem;
		line-height: 2rem;
		white-space: nowrap;
		display: inline-block;
		text-transform: uppercase;
		@include flex-shrink(0)
	}
}

.form_file {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	@include flexbox();

	&__text {
		height: 50px;
		font-size: 1.5rem;
		line-height: 2rem;
		border: 1px solid #eaeaea;
		@include flex-grow(1);
	}
}

.checkbox_group {
	margin: 0 -15px;

	> ul {
		margin: 0;
		padding: 0 15px;
		list-style: none;

		> li {
			padding: 6px 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);

		> ul {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		> ul {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-xl-min) {

		> ul {
			width: 240px;
		}
	}
}

