.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;

	th {
		color: #353535;
		text-align: left;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 2rem;
		padding: 12px 10px;
		background: #ffffff;
		text-transform: uppercase;
		border-bottom: 2px solid #f3f3f3;
	}

	td {
		color: #7f7f7f;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 12px 10px;
		background: #ffffff;
		border-bottom: 1px solid #f3f3f3;

		i {
			margin-right: 6px;
		}
	}

	tr {

		&:first-child {

			th,
			td {

				&:first-child {
					@include border-radius(5px 0 0 0);
				}

				&:last-child {
					@include border-radius(0 5px 0 0);
				}
			}
		}

		&:last-child {

			th,
			td {

				&:first-child {
					@include border-radius(0 0 0 5px);
				}

				&:last-child {
					@include border-radius(0 0 5px 0);
				}
			}
		}
	}

	&_blue {

		th {
			color: #fff;
			background: $color-blue;
		}
	}

	&_first {

		td {
			background: #e5ecf3;
		}
	}

	&_second {

		td {
			background: #f2f6f9;
		}
	}

	&_third {

		td {
			background: #fcfdfe;
		}
	}

	@media (min-width: $screen-md-min) {

		th,
		td {
			padding: 15px 20px;
		}


		&_second {

			td {

				&:first-child {
					padding-left: 35px;
				}
			}
		}

		&_third {

			td {

				&:first-child {
					padding-left: 50px;
				}
			}
		}
	}
}



.table_responsive {
	max-width: 100%;
	overflow-x: auto;
}